<%- include("partials/header.ejs") %>
<h1 class="pt-3">Contact Me</h1>
<form class="main p-4 p-md-5 mb-4 rounded text-body-emphasis ">
  <input name="name" type="text" class="form-control" placeholder="Name" /><br>
  <input name="email" type="text" class="form-control" placeholder="Email" /><br>
  <textarea name="text" class="form-control" rows="6" placeholder="Comment"></textarea><br>
  <input type="submit" class="btn btn-primary rounded-pill" value="SUBMIT" />
</form>
<%- include("partials/footer.ejs") %>