<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/layout.css">
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html{
  height: 100%;
  box-sizing: border-box;
}

body{
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 6.74rem;
  box-sizing: inherit;
  background-color: #ECDFCC;
  color: #697565;
}

main{
  width: 80%;
  margin: 0 auto;
}
header{
  background-color: #697565;
}

h1,h4{
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}
.main,.blog-card{
  border: 2px solid #697565;
  color: #ECDFCC;
  background-color: #697565;
}
span{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #ECDFCC;
}

.btn-wrapper{
  display: flex;
  justify-content: end;
  align-items: end;
}
button{
  margin-right: 10px;
}
footer{
  padding: 50px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}


p {
  color: whtie;
  margin-top: auto;
  font-size: 1.1em;
}

.copyright {
  color: black;
  text-align: right;
}
li{
  position: relative;
}
li:hover{
  top:-2px;
}
  </style>
</head>
<body>
  <div class="container">
  <div class="details">
    <h1><%= blogDetails?.title %></h1>
  </div>
  <div class="overflow-div">
    <p><%= blogDetails?.content %></p>
  </div>
</div>
</body>
</html>
<%- include('partials/footer.ejs') %>